.container_sq {
    margin: 0;
}

.add-duration {
    -webkit-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}
.content-top.add-duration {
	-webkit-transition: top 0.3s ease;
	-ms-transition: top 0.3s ease;
	transition: top 0.3s ease;
}

.pos-up {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.pos-down {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

/*.has-noti .n-header-container {
    top: 0;
}*/

/*.n-header-container {
    position: absolute;
}*/

/*.n-header-wrap {
    padding-top: 72px;
}*/

/*.n-header.fixed {
    z-index: 7;
}*/

/*.n-header.fixed > .n-header-container,
.n-header.fixed > .category {
    top: 0;
    position: relative;
}*/

.n-search__top.add-duration {
    -webkit-transition: top 0.3s ease, width 0.6s ease, height 0.6s ease;
    -ms-transition: top 0.3s ease, width 0.6s ease, height 0.6s ease;
    transition: top 0.3s ease, width 0.6s ease, height 0.6s ease;
}

.n-search__top.pos-up {
    transform: none;
    top: -100%;
}

.n-search__top.pos-down {
    transform: none;
    top: 0;
}

/*.category.fixed {
    position: fixed;
    top: 80px;
    z-index: 7;
}*/

.category.fixed.pos-up {
    top: 0;
}

.content-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.content-top.fixed {
    position: fixed;
    top: 0;
    z-index: 90;
}

.category {
    position: relative;
    left: 0;
    width: 100%;
    padding: 16px 0;
    background: #fff !important;
    z-index: 4;
}

.category__wrap {
    width: 882px;
    margin: 0px auto;
}

.category__container {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    -ms-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.category__container.swiper-container {
    max-width: 100%;
}

.category__container.on {
    opacity: 1;
}

.category__item {
    min-width: 68px;
    width: 80px !important;
    margin: 0 9px;
    padding: 0 !important;
}

.category__link {
    cursor: pointer;
}

.category__thumbnail {
    box-sizing: border-box;
    display: block;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid transparent;
    overflow: hidden;
    -webkit-transition: border-color 0.6s ease;
    -ms-transition: border-color 0.6s ease;
    transition: border-color 0.6s ease;
    margin-bottom: 7px;
}

.category__item.current .category__thumbnail {
    border-color: #000;
}

.category__img {
    width: 100%;
    height: auto;
    border-radius: 50% !important;
}

.category__name span {
    text-transform: none;
}

.category__name {
    color: #343434 !important;
    white-space: break-spaces;
    line-height: 1.4;
    font-family: "Unica77LLWeb","SDGothicNeo", sans-serif; /* 2022.01.20 공통화 과정에서 추가함*/
}

.category__item--Heron .category__img,
.category__item--Alexander .category__img,
.category__img--line {
    border: 0.5px solid #d8d8d8;
}

.category__nav {
    opacity: 0;
    visibility: hidden;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 33px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    -ms-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

.category__container.swiper-container-horizontal ~ .category__nav {
    opacity: 1;
    visibility: visible;
}

.category__nav--prev {
    left: -34px;
}

.category__nav--next {
    right: -34px;
}

.category__nav[aria-disabled="true"] {
    opacity: 0 !important;
    visibility: hidden !important;
}

@media (hover: hover) and (pointer: fine) {
    .category__item:hover .category__thumbnail {
        border-color: #000;
    }
}

@media (max-width: 1280px) {

    .n-header {
        height: auto;
    }

}

@media (max-width: 1024px) {
    .search-on,
    .search-on body {
        overflow: hidden;
    }
    .search-on .n-header-wrap.sticky {
        position: fixed;
    }
    html.body-scroll {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    html.body-scroll body {
        overflow: auto !important;
        width: 100%;
        height: 100%;
    }

    .category__wrap {
        width: 100%;
    }

    .category__item:first-child {
        margin-left: 20px;
    }

    /*.n-header-wrap {
        padding-top: 60px;
    }*/

    /*.category.fixed {
        top: 60px;
    }*/

    /*.category.fixed::before {
        height: 100%;
    }*/

    .category__nav {
        display: none;
    }
}

@media (max-width: 1023px) {

    .category__item {
        width: 68px !important;
        margin: 0 2.5px;
    }

}


@media (max-width: 768px) {
    .category__item {
        width: 80px;
    }

    .category__item:first-child {
        margin-left: 15px;
    }

    .category__item:last-child {
        margin-right: 15px;
    }

}

@media (max-width: 414px) {

    .category {
        padding: 12px 0;
    }

    .filter-on,
    .filter-on body {
        overflow: hidden;
    }
    .filter-on .content-top {
        z-index: 30 !important;
    }

    .filter-on .content-top-dummy {
        z-index: 100;
    }

    .category__item {
        width: 72px;
    }

    .category__name.font--en {
        font-size: 11px;
    }


}
